body{
    margin: 0px;
    background-color: var(--md-sys-color-background);
    font-family: "Quicksand", serif;
}

/* Navbar */

.navbar{
    background-color: var(--md-sys-color-primary-container);
    /* box-shadow: 0px 5px 10px 1px var(--md-sys-color-inverse-surface); */
    min-height: 80px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    position: relative;
    --md-elevation-level: 5;
}

.navbar a{
    font-size: 20pt;
    font-weight: bold;
    font-style: normal;
    color: var(--md-sys-color-outline);
}

.navbar a:hover{
    color: var(--md-sys-color-outline-variant);
    cursor: pointer;
    scale: 103%;
    filter: invert();
}


/* Container */
.mainContainer{
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* Divs */
.card{
    width: 40vw;
    border-radius: 10px;
    background-color: var(--md-sys-color-secondary-container);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* This is for the elevation property for material web */
    position: relative;
    --md-elevation-level: 3;
}

.opener{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* Text Related Styling */
h1, h2, h3, h4, p, a, span{
    color: var(--text);
}

.title{
    font-size: 45pt;
    color: var(--text);
    font-weight: bold;
    text-align: center;
}

.subtitle{
    font-size: 30pt;
    color: var(--text);
    text-align: center;

}

.active{
    font-weight: bolder;
    color: var(--md-sys-color-outline-variant);
    filter: invert();
    text-decoration: none;
}

/* Misc */

.checkbox{
    display: flex;
    align-items: center;
    gap: 10px
}