body {
    margin: 0px;
    background-color: var(--md-sys-color-background);
    font-family: "Quicksand", serif;
}

/* Navbar */

.navbar {
    background-color: var(--md-sys-color-primary-container);
    /* box-shadow: 0px 5px 10px 1px var(--md-sys-color-inverse-surface); */
    min-height: 80px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    position: relative;
}

.navbar a {
    font-size: 20pt;
    font-weight: bold;
    font-style: normal;
    color: var(--md-sys-color-outline);
}

.navbar a:hover {
    color: var(--md-sys-color-outline-variant);
    cursor: pointer;
    scale: 103%;
    filter: invert(0.4);
}


/* Container */
.mainContainer {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
    gap: 20px;
}

/* Divs */
.card {
    width: 39.5vw;
    min-width: 300px;
    border-radius: 10px;
    background-color: var(--md-sys-color-secondary-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;

    /* This is for the elevation property for material web */
    position: relative;
    --md-elevation-level: 3;
}

.cardsmall {
    width: 20vw;
    min-width: 250px;
}

.opener {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cardTextBox {
    max-width: 70%;
}


/* Text Related Styling */
h1,
h2,
h3,
h4,
p,
a,
span {
    color: var(--text);
}

.title {
    font-size: 45pt;
    color: var(--text);
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-size: 30pt;
    color: var(--text);
    text-align: center;

}

.subsubtitle {
    font-size: 20pt;
    color: var(--text);
    text-align: center;
}

.text {
    font-size: 15pt;
    color: var(--text);
    text-align: center;
}

.active {
    font-weight: bolder;
    color: var(--md-sys-color-outline-variant);
    filter: invert();
    text-decoration: none;
}


/* Buttons */
.fabalign {
    position: fixed;
    top: 88%;
    right: 2%;
}

/* Animations */
.fadeInDown {
    animation: fadeInDown 0.75s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    } 

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.fadeOutUp {
    animation: fadeOutUp 0.75s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}


/* Misc */

.icon {
    width: 48px;
    height: 48px;
    fill: var(--text);
}

.iconstroke {
    width: 48px;
    height: 48px;
    stroke: var(--text);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.center {
    display: flex;
    align-items: center;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.link:hover {
    color: (--text);
    filter: invert(0.4);
}

.gap {
    gap: 20px;
}

.highelevation {
    --md-elevation-level: 5;
}

.notify {
    background-color: var(--md-sys-color-tertiary-container);
}

.invert {
    filter: invert();
}